Generated/
Replay/
Test/
Tests/
_Test/
checkpoints/
amlt/
.amltconfig
models/
__pycache__

/.env

/.sync_tracker.db
logs/
PromptExamples/

/experiment_runner/experiment_state.json
Magmathor/cache/search_cache.json

/experiment_runner/aml_jobs.json


/copilot-reports/
/experiment_runner__cs/
/20251223__Test__pre_DOUBLE_CHECK/
/*__Test__*/
